<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>163531146472-0s4kda12rfcecrftieeu266a657erb61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163531146472-0s4kda12rfcecrftieeu266a657erb61</string>
	<key>API_KEY</key>
	<string>AIzaSyAJhq4i4n59_Gks0IJ7UJWZWzdV0MCZNgI</string>
	<key>GCM_SENDER_ID</key>
	<string>163531146472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Arena.Bingo</string>
	<key>PROJECT_ID</key>
	<string>bingo-6a802</string>
	<key>STORAGE_BUCKET</key>
	<string>bingo-6a802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163531146472:ios:ad04d416f27438d8</string>
	<key>DATABASE_URL</key>
	<string>https://bingo-6a802.firebaseio.com</string>
</dict>
</plist>